<section class="mw8 center">
  <h1 class="fw5">Chart example</h1>
  <p>Bar chart based on <a href="http://www.chartjs.org/" class="dim blue" target="_blank">Chart.js</a></p>
	<graph :values="[0, 10, 20, 30, 40, 50]"></graph>
</section>

